<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-primary border-top-0 border-left-0 border-right-0"></h1>
		<form th:action="@{/formulario}" th:object="${contacto}" method="post">
			<table>
				<tr>
					<td>nombre</td>
					<td><input type="text" th:field="*{nombre}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td>telefono</td>
					<td><input type="text" th:field="*{telefono}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td>direccion</td>
					<td><input type="text" th:field="*{direccion}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td>email</td>
					<td><input type="email" th:field="*{email}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td><input type="submit" value="crear contacto"
						class="btn btn-primary" /></td>
				</tr>
			</table>
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>