<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-primary border-top-0 border-left-0 border-right-0"></h1>
		<a th:href="@{/formulario}" class="btn btn-success btn-xs">crear
			contacto</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>nombre</th>
					<th>telefono</th>
					<th>direccion</th>
					<th>email</th>
					<th>editar</th>
					<th>eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contacto: ${contactos}">
					<td th:text="${contacto.nombre}"></td>
					<td th:text="${contacto.telefono}"></td>
					<td th:text="${contacto.direccion}"></td>
					<td th:text="${contacto.email}"></td>
					<td><a th:href="@{/formulario/} + ${contacto.id}"
						class="btn btn-primary btn-xs">editar</a></td>
					<td><a th:href="@{/eliminar/} + ${contacto.id}"
						class="btn btn-danger btn-xs">eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>