<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<table>
		<thead>
			<tr>
				<th>nombre</th>
				<th>telefono</th>
				<th>direccion</th>
				<th>email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente: ${clientes}">
				<td th:text="${cliente.nombre}"></td>
				<td th:text="${cliente.telefono}"></td>
				<td th:text="${cliente.direccion}"></td>
				<td th:text="${cliente.email}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>